/***** Initial Start Here *****/
a, .btn-link {
    color: $link-color;
    &:hover { color: $link-hover-color; }
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #000;
}
h1, .h1, h2, .h2 {
    font-weight: 800;
}
h3, .h3 {
    font-weight: 700;
}
h4, .h4 {
    font-weight: 600;
}
h5, .h5 {
    font-weight: 500;
}
h6, .h6 {
    font-weight: 400;
}
/***** End Here *****/

div.primary-navigation > nav.moremenu.navigation.observed {
    margin-left:64px !important;
}

/** hamburger */
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

@include media-breakpoint-up(md) {
    .drawer-toggles .drawer-toggler .btn {
        background-color: #aaa !important;
        color: #fff;
        margin-top:40px;
    }
}

aside#block-region-content h5.card-title {
    font-size:1.5rem;
}

/**** block course-overview ****/
.block-cards .my-2 { margin-top:2rem !important; }
div[data-region="filter"] .btn { color: #999; }
div[data-region="filter"] .font-weight-bold {
    font-weight: normal !important;
}

.dashboard-card-deck .dashboard-card .dashboard-card-img
{
    background-color: #444441 !important;
    background-position-x: left !important;
}

@include media-breakpoint-up(md) {
    .page-context-header {
        margin-top: 1.2rem;
    }
}

/***** Header / Content / Footer Start Here *****/
.main-header {
    color: #000;
    &.navbar {
        height: 72px; min-height: 72px; align-items: center; box-shadow: 0 2px 4px rgb(0 0 0 / 8%); background-color: $header-bg;
    }
    .site-logo {
        img { max-height: 52px; }
    }    
    .primary-navigation {
        .navigation, .nav-link  {
            height: 72px;
        }
    }
    .moremenu .nav-link.active:focus, .moremenu .nav-link.active:hover, .moremenu .nav-link:hover, .moremenu .nav-link:focus {
        background-color: transparent;
    }
    &.navbar-light .navbar-nav {
        .nav-link {
            color: $headerlink-color;
            &:hover, &:focus {
                color: $headerlink-hover-color;
            }
        }
    }
    .userinitials {
        background-color: #fff; margin-right: 0;
    }
}
.navbar.fixed-top .dropdown .dropdown-menu {
    max-height: calc(100vh - 72px);
}
.navbar.fixed-top .usermenu .dropdown .dropdown-toggle {
    padding-left: 0.5rem; padding-right: 0.5rem;
}
.bulkEnable {
    visibility: hidden;
}


/** logged in user */
.userloggedinas .usermenu .usertext .meta, .userswitchedrole .usermenu .usertext .meta, .loginfailures .usermenu .usertext .meta
{ color: white }

.nav-link .dropdown-menu {
    min-width: 12rem;
}

.editing .custom-switch .custom-control-label::after, .editing .custom-switch .custom-control-input:checked~.custom-control-label::after {
    background-color: #fff;
}
.editing .custom-control-label::before, .editing .custom-control-input:checked~.custom-control-label::before {
    background-color: #000; border: #000 solid 1px;
}
.editmode-switch-form .text-primary {
    color: #000 !important;
}
.simplesearchform .collapse.show, .simplesearchform .collapsing {
    height: 72px;
}
/***** End Here *****/

/***** Content Start Here *****/
.courseindex .courseindex-item.pageitem, .courseindex .courseindex-item.pageitem:hover, 
.courseindex .courseindex-item.pageitem:focus, .list-group-item.active {
    background-color: #d1d1d1; color: #000; border-radius: 0;
}
.courseindex .courseindex-item.pageitem a {
    color: #000;
}
.coursebox>.info>.coursename {
    font-size: 18px; font-weight: 600;
}
.secondary-navigation {
    max-width: 100%;
}

.secondary-navigation .navigation .nav-tabs {
    margin-left: 0 !important;
}
.navigation { margin:0 !important;}

.course-content {
    margin-top: 2rem;
}

.course-content ul li li h3 {
    font-size: 1.4rem;
}

.course-content ul li.section.main {
    margin-bottom: 3rem; padding: 1rem;
}

.course-content ul > li.section.main {
    box-shadow: 3px 0px 6px rgb(105 97 97 / 10%), 0 3px 6px rgb(0 0 0 / 10%);
}

/** second level and more? */
.course-content ul li li.section.main:first-child {
    margin-top: 1.2rem;


}
.course-content ul li li.section.main {
    margin:0;
    box-shadow: none;
}

.course-content ul.flexsections > li.section {
    box-sizing: border-box;
    border-top: 4px solid #aaa;
}

.course-content ul .child-section li.section.main {
    padding: 0; margin-top: 2rem; margin-bottom: 0; box-shadow: none;
}
.course-content ul .child-section li.section.main .progress {
    display: none !important;
}
.course-content li.section.main .progress {
    margin: -1rem -1rem 1rem -1rem; border-radius: 0; height: 5px; background-color: #776e6e;
}
.course-content li.section.main .progress-bar {
    background-color: #f7931e;
}
.activity-item {
    border-radius:0 !important;
}

li.activity:first-child .activity-item {
    border-top:0;
}


.activity-item:not(.activityinline) {
    border: none; border-top: 1px solid #ddd; padding: 0.5rem;
}
.section .activity {
    padding: 0;
}
.activityiconcontainer {
    background-color: #ddd !important;
}

.activityiconcontainer.content .activityicon, .activityiconcontainer.content .icon {
    filter: brightness(1) invert(0) !important;
}

.course-section .activityiconcontainer {
    height:32px !important;
}

img.activityicon {
    filter: none !important;
}
.path-my .page-header-headings {
    display: none !important;
}
.flexsections .parent-section > li > .course-section-header .icons-collapse-expand > span,
.activity-instance .media-body > .text-uppercase {
    display: none !important;
}
.flexsections .parent-section > li > .course-section-header .icons-collapse-expand {
    width: 0; height: 0;
}
.flexsections .parent-section > li > .course-section-header .icons-collapse-expand:hover, 
.flexsections .parent-section > li > .course-section-header .icons-collapse-expand:focus {
    background-color: transparent !important;
}

.course-content-item-content::before {
    content: '';
    display:block;
    height:15px;
    border-bottom: solid 1px #eaeaea;
    margin-left:-17px;
    margin-right:-17px;
    margin-bottom: 20px;
}

.activity-instance .activityiconcontainer {
    background-color: transparent !important;
}

.activity-instance .activityiconcontainer {
    margin-right: 0.25rem !important;
}
.activityiconcontainer .activityicon, .activityiconcontainer .icon {
    width: 24px; height: 24px;
}
#frontpage-available-course-list .coursebox, #frontpage-course-list .coursebox, .course-search-result .coursebox {
    margin-bottom: 1rem;
}
#frontpage-available-course-list .coursebox.even, #frontpage-course-list .coursebox.even, .course-search-result .coursebox.even {
    background-color: #f7f7f7;
}
.coursebox .content .courseimage img {
    max-width: 150px; max-height: 150px;
}
/***** End Here *****/

/***** Block Start Here *****/
.block {
    background-color: $block-bg; margin-bottom: 30px; border: none; border-radius: 0;
    .card-title {
        font-weight: 700;
    }
    .card-body {
        padding: 0;
    }
    &.block_settings {
        #settingsnav {
            padding-top: 0 !important;
        }
    }
    .action-menu .menubar {
        align-items: center;
    }
    .block-cards {
        .myoverview-progress {
            border-radius: 0; height: 5px; background-color: #776e6e; margin-top: 0.25rem;
            .progress-bar {
                background-color: #f7931e;
            }
        }
    }
}
.block_navigation, .block_settings {
    .block_tree {
        &.list > li > ul {
            padding-left: 0;
        }
        .tree_item.branch {
            margin-left: 5px; padding-left: 0.75rem;
        }
        p.hasicon {
            text-indent: 0; padding-left: 0.75rem;
            .icon {
                margin-right: 5px;
            }
        }
        ul {
            margin-left: 0.25rem; padding-left: 1rem;
        }
    }
    .root_node, .navigation_node {
        margin-left: 0 !important;
        padding-left: 0 !important;
    }
}
.columnbottom {
    .block {
        background-color: #fff; padding: 0;
        .card-body .card-title {
            font-size: 24px;
        }
    }
}
.drawers .block_myoverview>.card-body {
    padding: 1rem !important;
}
#block-region-content .block {
    background-color: #fff;
}
.block .block-cards .course-info-container {
    padding: .5rem .8rem 0 .8rem;
}
.dashboard-card-deck .dashboard-card .dashboard-card-footer {
    padding: 0 .8rem;
}
.block .block-cards .card .coursemenubtn {
    margin-top: -0.75rem;
}
.dashboard-card-deck.one-row {
    justify-content: left!important;
}
/***** End Here *****/


/***** Login Start Here *****/
.path-login #page-footer, #page-login-index .main-header {
    display: none !important;
}
#page-login-signup #page-wrapper {
    margin-top: 72px;
}
#page-login-signup .signupform {
    max-width: 50%; margin: 15px auto; background-color: #f5f5f5; padding: 30px;
}
.login-left-panel {
    background-color: #fff;

    .loginform-container {
        min-height: calc(100vh - 1px); display: flex; align-items: center; justify-content: center;

        a.btn-toggle:hover {
            text-decoration: none;
        }

    }
    .loginform {
        width: 100%; max-width: 400px;
    }
    .form-control {
        height: calc(1.5em + 0.75rem + 2px); border-radius: 0;
    }
    .login-divider {
        margin-top: 0.5rem; margin-bottom: 0.5rem; border-top: 1px solid #dee2e6; 
    }
    .login-logo {
        text-align: center; margin-bottom: 2rem;
        img {
            max-height: 90px;
        }
    }
    .login-form-password {
        position: relative;
        .toggle-password {
            position: absolute; right: 0; top: 0; background-color: #d1d1d1; padding: 13px 15px;
        }
    }
}
.login-form-submit {
    display: flex; align-items: center;
    .btn {
        margin-left: auto;
    }
}
.login-form-forgotpassword {
    font-size: 18px; font-weight: 700;
}
.login-identityproviders {
    .btn {
        background-color: #f7931e; border-color: #000; border-radius: 0; font-weight: 800; margin-left: auto;
        &:hover {
            background-color: #d67708; 
        }
    }
}
.login-right-panel {
    background-color: $login-bg; color: #fff;
    .companyinfo-box {
        display: flex; height: 100%; align-items: center; justify-content: center;
    }
    .companyinfo {
        text-align: center; max-width: 60%;
    }
    * {
        color: #fff;
    }
    a:hover {
        color: #fff; text-decoration: underline;
    }
}
.login-languagemenu .action-menu .dropdown-toggle {
    color: #000;
}
.login-languagemenu .dropdown-item:active, .login-languagemenu .dropdown-item:hover, 
.login-languagemenu .dropdown-item:focus, .login-languagemenu .dropdown-item:focus-within {
    background-color: #d1d1d1; color: #000;
}
#page-login-forgot_password {
    margin-top: 82px; padding-left: 3rem; padding-right: 3rem;
}
/***** End Here *****/


/***** Table *****/
.table th, .generaltable th {
    padding: 1rem 0.65rem;
}
.table td, .generaltable td {
    padding: .65rem;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}
.generaltable.table-sm th, .generaltable.table-sm td {
    padding: .5rem;
}
.generaltable {
    border: 1px solid #dee2e6;
}
.generaltable th, .generaltable td {
    border: 1px solid #dee2e6;
}
/***** End Here *****/

/***** Miscellaneous *****/
.maincalendar .calendarmonth td, .maincalendar .calendarmonth th {
    border: 1px dotted #ccc;
}
.calendar-controls .current {
    font-weight: 800;
}
#course-category-listings .listitem[data-selected="1"] {
    border-left: calc(1px + 5px) solid #000;
}
.moremenu {
    .nav-link {
        border-bottom: solid 4px transparent;
        &.active, &.active:focus, &.active:hover {
            border-bottom-color: #06a1ac;
        }
    }
}
.drawer-toggles .drawer-toggler {
    top: calc(72px + 0.7rem);
    .btn {
        background-color: #06a1ac; color: #fff;
    }
}
#page.drawers {
    margin-top: 72px;
    //margin-right:0 !important;
}
.drawer {
    &.drawer-right {
        background-color: #fff;
    }
    &.drawer-left {
        background-color: #e5e5e5;
    }
}
.form-control {
    height: calc(1.5em + 0.75rem + 6px);
}
button.btn {
    font-weight: bold;
}
.btn-primary {
    background-color: $primarybtn-bg; 
    border-color: $primarybtn-border-color;
    color: $primarybtn-text-color;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus {
    background-color: $primarybtn-bg-hover; 
    border-color: $primarybtn-border-color;
    color: $primarybtn-text-color;
}
.dropdown-item:active, .dropdown-item:hover, .dropdown-item:focus, .dropdown-item:focus-within, 
.maincalendar .calendarmonth td.today .day-number-circle {
    background-color: $dropdown-bg-color;
}
.aabtn.focus, .aabtn:focus, .btn-link.focus, .btn-link:focus, .nav-link.focus, .nav-link:focus, 
.editor_atto_toolbar button.focus, .editor_atto_toolbar button:focus, .editor_atto_toolbar .atto_toolbar_row.focus, 
.editor_atto_toolbar .atto_toolbar_row:focus, [role="button"].focus, [role="button"]:focus, 
.list-group-item-action.focus, .list-group-item-action:focus, input[type="checkbox"].focus, 
input[type="checkbox"]:focus, input[type="radio"].focus, input[type="radio"]:focus, 
input[type="file"].focus, input[type="file"]:focus, input[type="image"].focus, 
input[type="image"]:focus, .sr-only-focusable.focus, .sr-only-focusable:focus, a.dropdown-toggle.focus, 
a.dropdown-toggle:focus, .modal-dialog[tabindex="0"].focus, .modal-dialog[tabindex="0"]:focus, 
.moodle-dialogue-base .closebutton.focus, .moodle-dialogue-base .closebutton:focus, button.close.focus, 
button.close:focus, .form-autocomplete-selection.focus, .form-autocomplete-selection:focus, 
[role="treeitem"]:not([aria-expanded="true"]).focus, [role="treeitem"]:not([aria-expanded="true"]):focus {
    /*box-shadow: 0 0 0 0.2rem rgb(0 0 0 / 50%);*/ box-shadow: none;
}
.btn.btn-icon:hover, .btn.btn-icon:focus {
    background-color: #e5e5e5;
}
.btn-outline-secondary {
    background-color: #f3f3f3;
}
div[data-region="completion-info"] .btn-success {
    background-color: #f7931e; border-color: #da7c0d;
}
.form-control {
    border-radius: $controls-boreder-radius;
}
.card {
    border-radius: $card-boreder-radius;
}
/***** End Here *****/

hr.mt-0 {
    display: none;
}

.editing_mergeup {
    display: none !important; /* Übergeordneten Abschnitt hinzufügen ausblenden, da Funktion verwirrend */
}