{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/loginform

    Moodle template for the login page.

    Context variables required for this template:
    * autofocusform: Auto focus on form ?,
    * canloginasguest - Is guest login allowed?,
    * canloginbyemail - Is login by email allowed?,
    * cansignup - Signup allowed?,
    * cookieshelpicon - cookies help icon details
    * error - Any errors in the form?,
    * forgotpasswordurl - Forgot password url,
    * hasidentityproviders - Flag, set to true to hide identity providers,
    * hasinstructions - Flag, set to true to show instructions,
    * identityproviders - List of identiy providers,
    * instructions - Instructions,
    * instructionsformat - Format of instructions,
    * loginurl - Login url,
    * signupurl - Signup url,
    * errorformatted - Formatted error,
    * logourl - Flag, logo url,
    * sitename - Name of site.,
    * logintoken - Random token to protect login request.,
    * maintenance - Maintenance message

    Example context (json):
    {
        "autofocusform": false,
        "canloginasguest": "1",
        "canloginbyemail": false,
        "cansignup": true,
        "cookieshelpicon": {
            "heading": "Cookies must be enabled in your browser",
            "text": "<div class=\"no-overflow\">Two cookies are used on this site. Both died..</div>",
            "icon": {
                "attributes": [
                    {
                        "name": "class",
                        "value": "iconhelp"
                    },
                    {
                        "name": "alt",
                        "value": "Help with Cookies must be enabled in your browser"
                    },
                    {
                        "name": "title",
                        "value": "Help with Cookies must be enabled in your browser"
                    },
                    {
                        "name": "src",
                        "value": "http://localhost/stable_master/theme/image.php?theme=boost&component=core&image=help"
                    }
                ]
            },
            "linktext": null,
            "title": "Help with Cookies must be enabled in your browser",
            "url": "http://localhost/stable_master/help.php?component=core&identifier=cookiesenabled&lang=en",
            "ltr": true
        },
        "error": "",
        "forgotpasswordurl": "http://localhost/stable_master/login/forgot_password.php",
        "hasidentityproviders": false,
        "hasinstructions": true,
        "identityproviders": [],
        "instructions": "For full access to this site, you first need to create an account.",
        "instructionsformat": "1",
        "loginurl": "http://localhost/stable_master/login/index.php",
        "signupurl": "http://localhost/stable_master/login/signup.php",
        "cookieshelpiconformatted": "",
        "errorformatted": "",
        "logourl": false,
        "sitename": "Beer & Chips",
        "logintoken": "randomstring",
        "maintenance": "For full access to this site, you need to login in as an admin.",
        "languagemenu": "Choose language"
    }
}}
<div class="row no-gutters">
    <div class="col-md-6 login-left-panel">


        <div class="loginform-container" style="display: flex; flex-direction: column;">

            {{#is_wks}}
            <div style="margin-top:calc(50vh - 200px)">
            {{/is_wks}}

                <div class="loginform" style="min-width: 350px">
                    <h1 class="login-heading text-center mb-4 d-none">{{#str}} loginto, core, {{sitename}} {{/str}}</h1>
                    <div class="login-logo">
                        <img src="{{logourl}}" class="img-fluid" title="{{sitename}}" alt="{{sitename}}"/>
                    </div>

                    {{#maintenance}}
                        <div class="alert alert-danger login-maintenance">
                            {{{maintenance}}}
                        </div>
                    {{/maintenance}}
                    {{#error}}
                        <a href="#" id="loginerrormessage" class="sr-only">{{error}}</a>
                        <div class="alert alert-danger" role="alert">{{error}}</div>
                    {{/error}}
                    {{#cansignup}}
                        <a href="{{signupurl}}" class="sr-only">{{#str}} tocreatenewaccount {{/str}}</a>
                    {{/cansignup}}

                    {{#hasidentityproviders}}
                        <div class="text-center" style="margin-top: 5rem;">
                            <span style="width:250px;display:inline-block;">
                                Melden Sie sich mit den Zugangsdaten
                                Ihrer Schule an:
                            </span>
                        </div>
                        <div class="mt-4" style="display: flex;justify-content: center; ">
    <!--                        <h2 class="login-heading d-none">{{#str}} potentialidps, auth {{/str}}</h2>-->
                            {{#identityproviders}}
                                <a class="btn btn-primary auth_oidc"href="{{url}}">
                                    {{#iconurl}}
                                        <img src="{{iconurl}}" alt="" width="24" height="24"/>
                                    {{/iconurl}}
    <!--                                {{name}} -->
                                    Anmelden mit M365
                                </a>
                            {{/identityproviders}}
                        </div>
                    {{/hasidentityproviders}}

                    <div class="text-center" style="margin-top:5rem">

                        {{#hasidentityproviders}}
                        <a class="btn-toggle" data-toggle="collapse" href="#loginFormPanel" aria-expanded="false"
                           aria-controls="collapseExample" style="font-weight: bold">
                            Lokal anmelden
                            <svg width="10" height="10" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg" class="bi bi-chevron-down">
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.2345 3.4845C1.26933 3.44958 1.31071 3.42187 1.35627 3.40296C1.40183 3.38406 1.45067 3.37433 1.5 3.37433C1.54932 3.37433 1.59817 3.38406 1.64372 3.40296C1.68928 3.42187 1.73066 3.44958 1.7655 3.4845L6 7.71975L10.2345 3.4845C10.2694 3.44963 10.3108 3.42198 10.3563 3.40311C10.4019 3.38424 10.4507 3.37452 10.5 3.37452C10.5493 3.37452 10.5981 3.38424 10.6437 3.40311C10.6892 3.42198 10.7306 3.44963 10.7655 3.4845C10.8004 3.51936 10.828 3.56076 10.8469 3.60631C10.8658 3.65187 10.8755 3.70069 10.8755 3.75C10.8755 3.79931 10.8658 3.84813 10.8469 3.89369C10.828 3.93924 10.8004 3.98063 10.7655 4.0155L6.2655 8.5155C6.23066 8.55042 6.18928 8.57813 6.14372 8.59703C6.09816 8.61594 6.04932 8.62567 6 8.62567C5.95067 8.62567 5.90183 8.61594 5.85627 8.59703C5.81072 8.57813 5.76933 8.55042 5.7345 8.5155L1.2345 4.0155C1.19958 3.98066 1.17187 3.93928 1.15296 3.89372C1.13406 3.84817 1.12433 3.79932 1.12433 3.75C1.12433 3.70067 1.13406 3.65183 1.15296 3.60627C1.17187 3.56071 1.19958 3.51933 1.2345 3.4845V3.4845Z" fill="currentColor"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.2345 3.4845C1.26933 3.44958 1.31071 3.42187 1.35627 3.40296C1.40183 3.38406 1.45067 3.37433 1.5 3.37433C1.54932 3.37433 1.59817 3.38406 1.64372 3.40296C1.68928 3.42187 1.73066 3.44958 1.7655 3.4845L6 7.71975L10.2345 3.4845C10.2694 3.44963 10.3108 3.42198 10.3563 3.40311C10.4019 3.38424 10.4507 3.37452 10.5 3.37452C10.5493 3.37452 10.5981 3.38424 10.6437 3.40311C10.6892 3.42198 10.7306 3.44963 10.7655 3.4845C10.8004 3.51936 10.828 3.56076 10.8469 3.60631C10.8658 3.65187 10.8755 3.70069 10.8755 3.75C10.8755 3.79931 10.8658 3.84813 10.8469 3.89369C10.828 3.93924 10.8004 3.98063 10.7655 4.0155L6.2655 8.5155C6.23066 8.55042 6.18928 8.57813 6.14372 8.59703C6.09816 8.61594 6.04932 8.62567 6 8.62567C5.95067 8.62567 5.90183 8.61594 5.85627 8.59703C5.81072 8.57813 5.76933 8.55042 5.7345 8.5155L1.2345 4.0155C1.19958 3.98066 1.17187 3.93928 1.15296 3.89372C1.13406 3.84817 1.12433 3.79932 1.12433 3.75C1.12433 3.70067 1.13406 3.65183 1.15296 3.60627C1.17187 3.56071 1.19958 3.51933 1.2345 3.4845V3.4845Z" stroke="currentColor"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M1.2345 3.4845C1.26933 3.44958 1.31071 3.42187 1.35627 3.40296C1.40183 3.38406 1.45067 3.37433 1.5 3.37433C1.54932 3.37433 1.59817 3.38406 1.64372 3.40296C1.68928 3.42187 1.73066 3.44958 1.7655 3.4845L6 7.71975L10.2345 3.4845C10.2694 3.44963 10.3108 3.42198 10.3563 3.40311C10.4019 3.38424 10.4507 3.37452 10.5 3.37452C10.5493 3.37452 10.5981 3.38424 10.6437 3.40311C10.6892 3.42198 10.7306 3.44963 10.7655 3.4845C10.8004 3.51936 10.828 3.56076 10.8469 3.60631C10.8658 3.65187 10.8755 3.70069 10.8755 3.75C10.8755 3.79931 10.8658 3.84813 10.8469 3.89369C10.828 3.93924 10.8004 3.98063 10.7655 4.0155L6.2655 8.5155C6.23066 8.55042 6.18928 8.57813 6.14372 8.59703C6.09816 8.61594 6.04932 8.62567 6 8.62567C5.95067 8.62567 5.90183 8.61594 5.85627 8.59703C5.81072 8.57813 5.76933 8.55042 5.7345 8.5155L1.2345 4.0155C1.19958 3.98066 1.17187 3.93928 1.15296 3.89372C1.13406 3.84817 1.12433 3.79932 1.12433 3.75C1.12433 3.70067 1.13406 3.65183 1.15296 3.60627C1.17187 3.56071 1.19958 3.51933 1.2345 3.4845V3.4845Z" stroke="currentColor" stroke-opacity="0.2"/>
                            </svg>
                        </a>
                        {{/hasidentityproviders}}
                    </div>

                    {{#hasidentityproviders}}
                    <div class="collapse mt-3" id="loginFormPanel">
                    {{/hasidentityproviders}}
                        <form class="login-form" action="{{loginurl}}" method="post" id="login">
                            <input type="hidden" name="logintoken" value="{{logintoken}}">
                            <div class="login-form-username form-group">
                                <label for="username" class="sr-only">
                                    {{^canloginbyemail}}
                                        {{#str}} username {{/str}}
                                    {{/canloginbyemail}}
                                    {{#canloginbyemail}}
                                        {{#str}} usernameemail {{/str}}
                                    {{/canloginbyemail}}
                                </label>
                                <input type="text" name="username" id="username" {{!
                                !}}class="form-control form-control-lg" {{!
                                !}}value="{{username}}" {{!
                                !}}placeholder="{{^canloginbyemail}}{{#cleanstr}}username{{/cleanstr}}{{/canloginbyemail}}{{!
                                !}}{{#canloginbyemail}}{{#cleanstr}}usernameemail{{/cleanstr}}{{/canloginbyemail}}" {{!
                                !}}autocomplete="username">
                            </div>
                            <div class="login-form-password form-group">
                                <label for="password" class="sr-only">{{#str}} password {{/str}}</label>
                                <input type="password" name="password" id="password" value="" {{!
                                !}}class="form-control form-control-lg" {{!
                                !}}placeholder="{{#cleanstr}}password{{/cleanstr}}" {{!
                                !}}autocomplete="current-password">
                                <span toggle="#password" class="fa fa-eye-slash field-icon toggle-password custom-eye"></span>
                            </div>
                            <div class="login-form-submit form-group">
                                {{#languagemenu}}
                                    <div class="login-languagemenu">
                                        {{>core/action_menu}}
                                    </div>
                                {{/languagemenu}}
                                <button class="btn btn-primary" type="submit" id="loginbtn">{{#str}}login{{/str}}</button>
                            </div>
                            <div class="form-group text-center mt-5">
                                <a href="{{forgotpasswordurl}}">{{#str}}forgotaccount{{/str}}</a>
                            </div>
                        </form>
                    {{#hasidentityproviders}}
                    </div>
                    {{/hasidentityproviders}}


                    {{#hasinstructions}}
                        <div class="login-divider"></div>
                        <div class="login-instructions {{#cansignup}}mb-2{{/cansignup}}">
                            <h4 class="login-heading">{{#str}}firsttime{{/str}}</h4>
                            {{{instructions}}}
                        </div>
                    {{/hasinstructions}}
                    {{#cansignup}}
                        <div class="login-signup">
                            <a class="btn btn-secondary btn-sm" href="{{signupurl}}">{{#str}}startsignup{{/str}}</a>
                        </div>
                    {{/cansignup}}
                    {{#canloginasguest}}
                        <div class="login-divider"></div>
                        <h4 class="login-heading">{{#str}}someallowguest{{/str}}</h4>
                        <form action="{{loginurl}}" method="post" id="guestlogin">
                            <input type="hidden" name="logintoken" value="{{logintoken}}">
                            <input type="hidden" name="username" value="guest" />
                            <input type="hidden" name="password" value="guest" />
                            <button class="btn btn-secondary btn-sm" type="submit">{{#str}}loginguest{{/str}}</button>
                        </form>
                    {{/canloginasguest}}
                    <div class="login-divider d-none"></div>
                    <div class="d-none">
                        <button type="button" class="btn btn-secondary btn-sm" {{!
                        }} data-modal="alert"{{!
                        }} data-modal-title-str='["cookiesenabled", "core"]' {{!
                        }} data-modal-content-str='["cookiesenabled_help_html", "core"]'{{!
                        }}>{{#str}}cookiesnotice{{/str}}</button>
                    </div>
                </div>


            {{#is_wks}}
            </div>
            <div style="display: flex; margin-top: auto; padding:20px 40px; width: 100%; height: 100%">
                <img src="{{{wks_logo}}}" />
                <img src="{{{wst_logo}}}" style="height:50px;margin-left:40px;" />
            </div>
            {{/is_wks}}

        </div>

    </div>

    {{#is_wks}}
        <div class="col-md-6 login-right-panel">
            <div class="companyinfo-box">
                <div class="companyinfo">
                    <div class="info-image mb-5">
                        <img src="{{loginpageimg}}" class="img-fluid" alt="{{sitename}}"/>
                    </div>
                    {{{companyinfo}}}
                </div>
            </div>
        </div>
    {{/is_wks}}

    {{#is_kvlu}}
        <div class="col-md-6 login-right-panel" style="margin: auto !important;">
            <div class="companyinfo-box" style="padding:3rem; display:flex; flex-direction: column; max-width: 760px; align-items: flex-start;">
                <div class="info-image mb-6" style="">
                    <img src="{{loginpageimg}}" class="img-fluid" alt="{{sitename}}"/>
                </div>
                <div style="max-width: 600px; margin-top: 0 !important;">
                    {{{companyinfo}}}
                </div>
            </div>
        </div>
    {{/is_kvlu}}

    {{#is_kvbsz}}
    <div class="col-md-6 login-right-panel" style="padding:0;margin:0; background: #a39382; position: relative">
        <img src="{{loginpageimg}}" style="width: 100%; position: absolute; height: 40vh; object-fit: cover;" alt="{{sitename}}"/>
        <div class="companyinfo-box">
            <div style=" margin-top: 0 !important;">
                {{{companyinfo}}}
            </div>
        </div>
    </div>
    {{/is_kvbsz}}

</div>

<style>

    .btn.auth_oidc { font-weight: bold; padding:12px 18px; }
    .btn.auth_oidc img { margin-right: 20px;}

    .btn-toggle[aria-expanded="true"] .bi-chevron-down {
        transform: rotate(-180deg);
        transition: 0.8s;
    }
    .btn-toggle[aria-expanded="false"] .bi-chevron-down {
        transform: rotate(0deg);
        transition: 0.8s;
    }
s</style>

{{#js}}

$(".toggle-password").click(function() {

 $(this).toggleClass("fa-eye-slash fa-eye");

  var input = $($(this).attr("toggle"));

  if (input.attr("type") == "password") {

    input.attr("type", "text");

  } else {

    input.attr("type", "password");

  }

});
    {{^error}}
        {{#autofocusform}}
            var userNameField = document.getElementById('username');
            if (userNameField.value.length == 0) {
                userNameField.focus();
            } else {
                document.getElementById('password').focus();
            }
        {{/autofocusform}}
    {{/error}}
    {{#error}}
        document.getElementById('loginerrormessage').focus();
    {{/error}}
{{/js}}
