@font-face {
  font-family: 'Effra';
  src: url([[font:theme|effra-regular.woff2]]) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Effra';
  src: url([[font:theme|effra-bold.woff2]]) format('woff2');
  font-weight: bold;
  font-style: normal;
}

$font-family-sans-serif: Effra, sans-serif;
$font-family-serif: -apple-system, BlinkMacSystemFont, Effra, sans-serif !default;

//$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Crimson Text", "Helvetica Neue", Arial, sans-serif !default;
//$font-family-serif: -apple-system, BlinkMacSystemFont, "Crimon Text", "Helvetica Neue", Arial, sans-serif !default;

body {
  //font-family: Crimson Text, Serif !important;
  font-family: $font-family-sans-serif;
}

/* hamburger icon in mobile view */
.navbar-light .navbar-toggler-icon {
  background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 255, 255, 0.6%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
}


.moremenu .nav-link.active,
.moremenu .nav-link.active:focus,
.moremenu .nav-link.active:hover {
  border-bottom-color: #f39100;
}
 /* edit mode checkbox */
.editing .custom-control-label::before,
.editing .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #f39100;
  border: #000 solid 1px;
}

#page.drawers,
#topofscroll.main-inner,
{
  background-color: rgb(163, 147, 130) !important;
}

.login-left-panel .loginform-container {
  background-color: #00386f !important;
}

#topofscroll nav.moremenu.navigation.observed,
.block.block_wks_news_aggregator,
.block.block_myoverview,
.block.block_recentlyaccessedcourses,
.secondary-navigation,
span.viewingas,
.drawer.drawer-left,
.course-section,
button.activity-add
{
  background-color: white !important;
}

.courseindex-section {
  background-color: rgb(228, 234, 236) !important;
}

#page-header #page-navbar a,
#usernavigation label,
#user-menu-toggle {
  color: white !important;
}

.login-left-panel .loginform-container a {
  color: white !important;
}

a.dropdown-item.menu-action {
  color:black !important;
  //text-align: left;
}
a.dropdown-item.menu-action:hover {
  color:white !important;
}

#action-menu-10-menu {
  min-width: 14rem !important;
}

.course-section {
  border-radius: 5px !important;
}

.course-section {
  border-style: solid !important;
  border-width: 3px !important;
  border-color: rgb(208, 208, 208) !important;
  margin-bottom: 20px !important;
}

.course-section .course-section {
  border-width: 2px !important;
}

.course-section .course-section .course-section {
  border-width: 1px !important;
}

.flexsections-level-1 {
  padding-left: 0 !important;
}

#ednewsitemscourses {
  margin-bottom: 10px !important;
}

.ml-15 {
  margin-left: 1rem !important;
}

.login-form div {
  text-align: right ! important;
}

button.activity-add {
  border-style: none !important;
}
.pluscontainer {
  border-color: gray !important;
}

/** till Moodle 4.0 */
div.secondary-navigation {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
/** from Moodle 4.2 on */
nav.moremenu.navigation.observed {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


section#region-main {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

#page.drawers {
  scrollbar-color: rgb(243, 145, 0) rgb(248, 249, 250);
}

li.list-group-item.course-listitem {
  background-color: rgb(228, 234, 236);
  margin-bottom:5px;
}

#region-main {
  padding-bottom: 2rem;
}
# Page "forgot password"
section.login-wrapper-box {
  background: #ffffff !important;
}

span.categoryname {
  font-weight: bold;
}

.login-right-panel .companyinfo-box {
  padding:3rem; padding-top:45vh; max-width: 600px; align-items: start;
}

/** responsive */
@media (max-width: 992.98px) {
  .login-right-panel img {
    display: none;
  }
}

@media (max-width: 576px) {
  #page-wrapper {
    background-color:  #a39382 !important;
  }

  .login-left-panel .loginform-container {
    min-height: calc(50vh - 1px);
  }

  .login-left-panel .login-logo img {
    margin-top: 4rem;
  }

  .login-right-panel .companyinfo-box {
    padding-top: 0;
    margin-top: 4vh;
    background: #a39382;;
  }

  .box.py-3.generalbox.boxwidthnormal.boxaligncenter {
    padding-left: 1rem !important;
  }

}