
$font-family-sans-serif: "Effra", "Bree", sans-serif !default;

// header
.main-header .site-logo img {
  max-height: 40px;
  margin-right: 40px;
}

#usernavigation label {
  color: white !important;
}

.moremenu .nav-link.active, .moremenu .nav-link.active:focus, .moremenu .nav-link.active:hover {
  border-bottom-color: #f39100;
}

// ???


