@font-face {
  font-family: 'Frutiger';
  src: url([[font:theme|Linotype-FrutigerLTPro-Roman.woff]]) format('woff');
  font-weight: normal;
  font-style: normal;
}

$font-family-sans-serif: "Frutiger", Roboto, sans-serif;
$font-family-serif: -apple-system, BlinkMacSystemFont, Roboto, sans-serif !default;

body {
  font-family: $font-family-sans-serif;
}

li[data-key="myhome"]  {
  display: none;
}

.btn-secondary {
  border: 1px solid black !important;
}

#usernavigation label {
  color: white !important;
}

/* login logo */
div.login-logo img.img-fluid {
  height: 65px !important;
}

/* edit mode checkbox */
.editing .custom-control-label::before,
.editing .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #00AAC5;
  //background-color: #F2B944;
  border: #000 solid 1px;
}

.editing .custom-switch .custom-control-label::after,
.editing .custom-switch .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #F2B944;
  //border: #000 solid 1px;
}


/** hkb */
div.hkb-title {
  display: flex; align-items: center;
}
.icon-hkb { margin-right:8px; width:48px; }
div.hkb-title span
{ font-size:12pt;font-weight:bold; color:#777 }


/* BGSOL */
@media (max-width: 575.98px) {
  .row.bgsol-task.meta .col-sm-6.first { border-right:none !important;}
}
.container.bgsol-task { max-width: 960px; margin-left: 0; margin-bottom:4rem;}
.row.bgsol-task.title {border-bottom:2px solid black; padding: 1rem 0 0 0.2rem;}
.bgsol-task.title-column {display: flex; justify-content: space-between;padding-left: 0}
.bgsol-task.text { padding: 1rem 0; }
.row.bgsol-task.meta { margin-top:1.2rem;padding-left:0;padding-top:0;border-bottom:1px solid black;   }
.row.bgsol-task.meta .col-sm-6 { padding:6px 0 0 6px; border-top:1px solid black; display: flex;align-items: start  }
.row.bgsol-task.meta .col-sm-6.first { border-right:1px solid black }
.bgsol-task.bgsol-icon { margin-right:8px; width: 28px !important;  }
.bgsol-task-meta-title { padding-bottom:4px; margin:0; font-weight: bold; }